<shared-layout [title]="'Case Management'" [icon]="'case.png'">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:10px ;">
            <span style="float: right;">
                <button mat-stroked-button class="add-button" (click)="onAdd()"><mat-icon>add_circle</mat-icon> Add Case</button>
            </span>
        </div>
        <div class="col-sm-12">
            <app-table [tableConfiguration]="tableConfiguration" [tableList]="cases$ | async"></app-table>
        </div>
    </div>
</shared-layout>