<shared-layout [title]="'User Management'" [icon]="'users.png'">
  <div class="row">
    <div class="col-sm-12" style="padding-bottom: 10px">
      <span style="float: right">
        <button mat-stroked-button class="add-button" (click)="addUser()">
          <mat-icon style="color: #00284d;">add_circle</mat-icon>Add User
        </button>
      </span>
    </div>
    <div class="col-sm-12">
      <app-table
        [tableConfiguration]="tableConfiguration"
        [tableList]="users$ | async"
        (updateItemDetails)="updateUser($event)"
      ></app-table>
    </div>
  </div>
</shared-layout>
